svg {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Hammersmith One', sans-serif;
  /* Below is Ross's stuff */
   margin: 0;
  padding: 0;

}

#tube-overlay {
  width: 100%;
  height: 100vh;
}

div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
} 

/* below makes sure divs appear over the map */
div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: auto;
  height: auto;
  border: 3px solid #7DE2D1;
  background-color: #FFFAFB
}

button {
  background-color: rgb(70, 81, 208);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#subBtn {
  background-color: rgb(70, 81, 208);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


h1 {
	position: absolute;
	font-size: 50px;
	color: gray;
	text-align: center;
	width: 100%;
}

h3 {
	font-size: 40px;
	color: gray;
	text-align: center;
	width: 100%;
}

#filter-box {
	width: 30px;

	position: absolute;
	
	-webkit-box-shadow: 7px 10px 29px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 10px 29px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 10px 29px 0px rgba(0,0,0,0.75);
	transition-duration: 0.2s;
	height: 100vh;

	background-color: white;
}

#filter-box:hover {
	width: 60px;
}

.filter-card {
	width: 250px;
	color: white;
	height: 50px;

	-webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.28);
	box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.28);

	margin: auto;
	padding-top: 15px;

	display: flex;
}

.filter-card h4 {
	color: gray;
	text-align: center;
	width: 80%;
	margin: 0;
	font-size: 30px;
}

.filter-card div {
	width: 30px;
	height: 30px;
}
